NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_DATABASE_URL=

NEXT_PUBLIC_GEMINI_API_KEY=

NEXT_PUBLIC_CREATE_STORY_PROMPT=create kids story on description for {ageGroup} kids, {storyType} story, and all images in {imageStyle} style: {storySubject} , give me 5 chapter, With detailed image text prompt for each of chapter and image prompt for story cover book with story name , all in JSON field format